ion-card {
  margin-top: -45px;
  background: #ffffff;
  height: 180px;
  ionion-card-content{
    margin-top: 55px;
  }
  ion-card-title{
    font-size: 18px;
  }
}
p {
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  margin-top: 25px;
}
 