
<ion-header  class="ion-no-border"  >
  <ion-toolbar>
    <ion-buttons slot="start"  >
      <ion-button (click)="toggleMenu()" mode="ios">
          <ion-icon name="chevron-back-sharp"></ion-icon>
          
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" > 
      <ion-img  class="logo"  [src]="logo"></ion-img>
     </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content has-header="true">
   

    <p> Ayuda y Soporte </p>

    <!-- http://alpaso.com.ec/terms-and-cond/ -->
    <ion-item lines="none" detail (click)="goLink( 'terms-and-cond' )">
      <ion-icon name="document-text-outline" slot="start" color="warning-contrast"></ion-icon>
      <ion-label>Términos de uso</ion-label>
    </ion-item>

    <!-- http://alpaso.com.ec/ -->
    <ion-item lines="none" detail (click)="goLink( 'alpaso' )">
      <ion-icon name="globe-outline" slot="start" color="primary"></ion-icon>
      <ion-label>Sitio Web</ion-label>
    </ion-item>

    <!-- https://www.facebook.com/Al-Paso-112253200491898 -->
    <ion-item lines="none" detail (click)="goLink( 'facebook' )">
      <ion-icon name="logo-facebook" slot="start" style="color:#0c86ee"></ion-icon>
      <ion-label>Facebook</ion-label>
    </ion-item>

    <!-- https://www.instagram.com/alpaso.app/ -->
    <ion-item lines="none" detail (click)="goLink( 'instagram' )">
      <ion-icon name="logo-instagram" slot="start" style="color:#ca2d56"></ion-icon>
      <ion-label>Instagram</ion-label>
    </ion-item>

     <!-- https://www.instagram.com/alpaso.app/ -->
     <ion-item lines="none" detail (click)="goLink( 'whatsapp' )">
      <ion-icon name="logo-whatsapp" slot="start" style="color:#01e675"></ion-icon>
      <ion-label>Chatear</ion-label>
    </ion-item>
    
 
 
    


 

    <p class="email">info@alpaso.app</p>
    <ion-item lines="none" style="display: contents;">
      <ion-img class="dom-center" [src]="autor"></ion-img>
    </ion-item>
     
   </ion-content>
 
   