:root {
  --ion-color-primary: #F48120;
  --ion-color-primary-rgb: 244,129,32;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #d7721c;
  --ion-color-primary-tint: #f58e36;

  --ion-color-secondary: #4C5966;
  --ion-color-secondary-rgb: 17,129,117;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #2a529a;
  --ion-color-secondary-tint: #F48120; 

  --ion-color-tertiary: #4C5966;
  --ion-color-tertiary-rgb: 76,89,102;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #0f7267;
  --ion-color-tertiary-tint: #298e83;

  --ion-color-success: #20BCAE;
  --ion-color-success-rgb: 32,188,174;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #1ca599;
  --ion-color-success-tint: #9d9fa6;

  --ion-color-warning: #FBAE17;
  --ion-color-warning-rgb: 251,174,23;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #dd9914;
  --ion-color-warning-tint: #fbb62e;

  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235,68,90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  --ion-color-dark: #474C4F;
  --ion-color-dark-rgb: 71,76,79;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #3e4346;
  --ion-color-dark-tint: #595e61;

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146,148,156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-light: #ffffff;
  --ion-color-light-rgb: 255,255,255;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #e0e0e0;
  --ion-color-light-tint: #ffffff;
}