 
  
           
 



<ion-content  >
  <div  class="background">

      <div class="background-header">
        <ion-img src="./assets/Pantallas/login_maps3.jpg" class="dom-center"  ></ion-img>          
      </div>

      <!-- circulos -->
      <div class="oval-half-red_1"></div>
      <div class="oval-half-red_2"></div>



      <form #f="ngForm" (ngSubmit)="onLogin( f )">


              <ion-card>

                <ion-card-header>
                  <ion-card-subtitle>Escribe tu correo para enviarte las instrucciones para recuperar tú contraseña </ion-card-subtitle>
                 </ion-card-header>
                
              <ion-card-content>      

                    <ion-list>
                          <ion-item >
                              <ion-label position="floating"> <ion-icon name="mail-outline"></ion-icon> Correo Electrónico</ion-label>
                              <ion-input  type="email" 
                                          name="email"
                                          placeholder="usuario@email.com"
                                          pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                                          required
                                          clear-input="true" 
                                          maxlength="120">
                              </ion-input>
                          </ion-item>

                    </ion-list>

                  </ion-card-content>      

              </ion-card>     
                    


              <ion-button   type="submit"
                            class="auth-button"
                            shape="round" 
                            expand="block" 
                            color="primary"
                            >Enviar</ion-button>



    </form>
    <ion-label (click)="goToLogin()">
      <p> Ya tengo cuenta, <u>Iniciar Sesión</u>  </p>
    </ion-label>
    
</div>  
</ion-content>
